/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

 :root {
    --qode-main-color: #f7c600;
    --qode-header-light-color: #ffffff;
    --qode-header-light-hover-color: #f7c600;
    --qode-header-dark-color: #1b1b1b;
    --qode-header-dark-hover-color: #ffffff
}

a {
    text-decoration: none;
}


/* Cta */

.cta1 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 2%;
    color: #333333;
}

.cta1 span {
    background: #C01B27;
    border-radius: 50px;
    color: #fff;
    font-size: 30px;
    padding: 5px 15px;
    vertical-align: middle;
}


/* Hero Slider */

.carousel {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 1.5fr;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
    row-gap: 2vh;
    position: relative;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}

.progress-bar__fill {
    width: 0;
    height: inherit;
    background: #c20000;
    transition: all 0.16s;
}

.progress-bar--primary {
    z-index: 2;
}

.main-post-wrapper {
    grid-row: 1/4;
    grid-column: 1/7;
    position: relative;
}

.slides {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.main-post {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.main-post__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.main-post__image img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.main-post__image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 13, 14, 0.5);
}

.main-post__content {
    position: absolute;
    top: 40%;
    left: 4%;
    transform: translateY(-40%);
    color: #fff;
    width: 90%;
}

.main-post__tag-wrapper {
    margin: 0;
    display: inline-flex;
    overflow: hidden;
}

.main-post__tag {
    font-size: 0.95em;
    background: #c20000;
    padding: 6px 18px;
}

.main-post__title {
    font-weight: 700;
    font-size: 1.95em;
    line-height: 1.25;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.main-post__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: inline-flex;
    align-items: center;
}

.main-post__link-text {
    font-size: 0.9em;
}

.main-post__link-icon--arrow {
    margin-left: 12px;
}

.main-post__link-icon--play-btn {
    margin-right: 12px;
}

.main-post__link:hover .main-post__link-text,
.main-post__link:hover .main-post__link-icon--arrow path {
    color: #c20000;
    stroke: #c20000;
}

.main-post--active {
    top: 0;
    z-index: 1;
    transition: top 0.9s 0.4s ease-out;
}

.main-post--not-active {
    top: 100%;
    z-index: 0;
    transition: top 0.75s 2s;
}

.main-post.main-post--active .main-post__tag-wrapper {
    width: 25%;
    transition: all 0.98s 1.9s;
}

.main-post.main-post--not-active .main-post__tag-wrapper {
    width: 0;
    transition: width 0.3s 0.2s;
}

.main-post.main-post--active .main-post__title {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s 1.42s, transform 0.5s 1.4s;
}

.main-post.main-post--not-active .main-post__title {
    transform: translateY(40px);
    opacity: 0;
    transition: transform 0.2s 0.35s, opacity 0.5s 0.2s;
}

.main-post.main-post--active .main-post__link {
    opacity: 1;
    transition: opacity 0.9s 2.2s;
}

.main-post.main-post--not-active .main-post__link {
    opacity: 0;
    transition: opacity 0.5s 0.2s;
}

.posts-wrapper {
    grid-row: 3/4;
    grid-column: 3/6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 14px;
    column-gap: 14px;
    z-index: 1;
}

.post {
    background: rgba(14, 13, 14, 0.6);
    opacity: 0.3;
    color: #fff;
    position: relative;
    padding: 16px 20px;
}

.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

.post__tag {
    color: #80837e;
}

.post__title {
    font-weight: 400;
    font-size: 0.95em;
    line-height: 1.5;
}

.post--active {
    opacity: 1;
    background: rgba(14, 13, 14, 0.75);
}

.post:not(.post--active) {
    pointer-events: none;
}

.hide-on-mobile {
    display: none;
}

@media screen and (min-width: 768px) {
    .main-post__title {
        font-size: 2.9em;
    }
}

@media screen and (min-width: 1024px) {
    .hide-on-mobile {
        display: grid;
    }
    .posts-wrapper {
        grid-column: 2/6;
    }
    .hide-on-desktop {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .main-post__content {
        width: 45%;
    }
    .posts-wrapper {
        grid-column: 3/6;
    }
}


/* Col */

@media (min-width: 768px) {
    .col-25 {
        width: 25%;
    }
    .col-inner {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0% 15% 0% 0%;
    }
    .content {
        width: 100%;
    }
    .div-con {
        text-align: left;
    }
    .custom-icon {
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    .custom-icon img {
        height: auto;
        max-width: 100%;
        border: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .text-con {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin-bottom: 5%;
    }
    .h-title {
        font-family: Sarabun, sans-serif;
        font-weight: 300;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        font-size: 29px;
        line-height: 1.5em;
        padding-right: 40px;
        margin: 25px 0;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    .m-title {
        font-family: Sarabun, sans-serif;
        font-weight: 700;
        letter-spacing: -.01em;
        color: #1b1b1b;
        font-size: 45px;
        line-height: 1.155em;
        margin: 25px 0;
        word-wrap: break-word;
    }
    .m-text {
        margin: 14px 0 0;
        font-size: 15px;
        line-height: 1.7;
        letter-spacing: 0.9px;
        color: #666666;
    }
    .dvid .m-text:after {
        background-color: #a6a6a6;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100vw;
    }
    .dvid .m-text {
        margin: 0 0 30px 0;
        padding: 0 0 30px 0;
    }
    .info-div {
        display: flex;
    }
    .secion-3 {
        padding: 100px 0;
        margin-bottom: 7%;
    }
    /* Section Two */
    .secion-2 {
        padding: 160px 0;
        background-color: #ffffff;
    }
    .contain-flex {
        width: 1100px;
        margin: 0 auto;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    .info-con {
        margin-top: 10px;
        padding-left: 0px;
        padding-right: 4%;
    }
    .dvid .info-con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding-bottom: 10px;
    }
    .relative {
        position: relative;
    }
    .info-image {
        width: 63%;
        padding-left: 5.8%;
        padding-right: 0px;
        border-left: 1px solid #a6a6a6;
    }
    .dvid .info-image {
        flex-shrink: 0;
    }
    .info-image img {
        height: auto;
        max-width: 100%;
        border: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .cta1 .call {
        padding: 6px 14px;
        margin-right: 10px;
    }
    .call img {
        filter: brightness(12);
    }
    .get-on {
        width: 40%;
        padding-right: 4%;
    }
    .get-on h2 {
        font-weight: 400;
        letter-spacing: 0.01em;
        color: #1a1a1a;
        font-size: 40px;
        line-height: 1.5em;
        padding-right: 10%;
        margin: 25px 0;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    .get-on p {
        margin: 20px 0px;
        font-size: 15px;
        letter-spacing: 0.9px;
        color: #707070;
    }
    .get-on>.no {
        margin: 0;
    }
    .get-on>.no>a {
        color: #1a1a1a;
    }
    .get-on>h6 {
        margin-top: 10%;
        letter-spacing: 1px;
        color: #D31A1A;
    }
    .email-center {
        display: flex;
        margin-top: 10%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .get-on>.email-center h6 {
        color: #D31A1A;
        letter-spacing: 1px;
    }
    .traning {
        width: 50%;
    }
    .email-center p {
        line-height: 1.7;
    }
    /* Form Css */
    .radio-input {
        visibility: hidden;
    }
    .radio-label {
        position: relative;
        padding-left: 35px;
    }
    .radio-label:after {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 4px;
        top: 4px;
        border-radius: 50%;
    }
    .radio-border {
        width: 20px;
        height: 20px;
        display: inline-block;
        outline: solid 3px #000000;
        border-radius: 50%;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .radio-input:checked+.radio-label:after {
        transition: all 0.5s;
        background-color: #000000;
    }
    .form-div {
        width: 60%;
    }
    .datainput {
        position: relative;
        margin: 5px 0 20px
    }
    .datainput p {
        font-size: 12px;
        background: #eee;
        display: inline-block;
        padding: 5px 15px;
        border-radius: .5rem
    }
    .whatsapp-form textarea {
        min-height: 120px
    }
    .datainput select {
        padding: 12px 0;
        color: #555;
        font-size: 14px;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ddd;
        outline: none;
        background: #fff
    }
    .datainput input,
    .datainput textarea {
        font-size: 15px;
        padding: 15px 0;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #ddd
    }
    .datainput input:focus,
    .datainput textarea:focus {
        outline: none
    }
    .datainput label {
        color: #999;
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 18px;
        transition: .2s ease all
    }
    .datainput input:focus~label,
    .datainput input:valid~label,
    .datainput textarea:focus~label,
    .datainput textarea:valid~label {
        top: -10px;
        font-size: 14px;
        color: #21a51f
    }
    #notif-license span {
        font-size: 40px
    }
    #notif-license {
        display: none;
        position: fixed
    }
    .bar {
        position: relative;
        display: block;
        width: 100%
    }
    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #c01b27;
        transition: .2s ease all
    }
    .bar:before {
        left: 50%
    }
    .bar:after {
        right: 50%
    }
    .datainput input:focus~.bar:before,
    .datainput input:focus~.bar:after,
    .datainput textarea:focus~.bar:before,
    .datainput textarea:focus~.bar:after {
        width: 50%
    }
    .greenx {
        background: #c01b27
    }
    .highlight {
        position: absolute;
        height: 50%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: .5
    }
    .datainput input:focus~.highlight,
    .datainput textarea:focus~.highlight {
        animation: inputHighlighter .3s ease
    }
    .datainput input:focus~label,
    .datainput input:valid~label,
    .datainput textarea:focus~label,
    .datainput textarea:valid~label {
        top: -10px;
        font-size: 13px;
        color: #c01b27
    }
    .redio input:focus~label,
    .redio input:valid~label,
    .redio textarea:focus~label,
    .redio textarea:valid~label {
        top: -10px;
        font-size: 11px;
        color: #000000;
    }
    form.whatsapp-form {
        /* box-shadow: 0 1px 6px rgba(32, 33, 36, .28); */
        border-radius: .5rem;
        padding: 20px;
        box-sizing: border-box;
        color: #444;
        font-size: 14px;
        padding-left: 9%;
        line-height: 1.5;
    }
    .whatsapp-form a.send_form {
        color: #fff;
        background: #c01b27;
        text-decoration: none;
        display: inline-block;
        padding: 10px 25px;
        border-radius: .3rem;
        font-weight: 700;
        letter-spacing: .5px;
        font-size: 15px;
        margin-top: 4%;
    }
    #text-info span {
        display: block;
        padding: 10px 15px;
        text-align: center;
        font-weight: 700;
        margin: 15px 0;
        border-radius: .5rem;
    }
    #text-info span.yes {
        background: #c6ffc5;
        color: #0ea904;
    }
    #text-info span.no {
        background: #ffc5c5;
        color: #ce0404;
    }
    /* Counter */
    .projectFactsWrap {
        display: flex;
        margin-top: 30px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #projectFacts {
        padding: 10%;
        background: transparent linear-gradient( 106deg, #005EAF 0%, #0F1F5F 100%) 0% 0% no-repeat padding-box;
        margin-bottom: 7%;
    }
    #projectFacts .fullWidth {
        padding: 0;
    }
    .projectFactsWrap .item {
        width: 25%;
        height: 100%;
        padding: 20px 50px;
        border-left: 1px solid #fff;
    }
    /* .projectFactsWrap .item:nth-child(1){
background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2){
background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3){
background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4){
background: rgb(23, 44, 66);
} */
    .secion-4 {
        margin-bottom: 160px;
    }
    .projectFactsWrap .item p.number {
        font-size: 60px;
        padding: 0;
        font-weight: bold;
    }
    .projectFactsWrap .item p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
        margin: 0;
        letter-spacing: 1px;
        text-align: left;
    }
    .projectFactsWrap .item span {
        width: 60px;
        background: rgba(255, 255, 255, 0.8);
        height: 2px;
        display: block;
        margin: 0 auto;
    }
    .projectFactsWrap .item i {
        vertical-align: middle;
        font-size: 50px;
        color: rgba(255, 255, 255, 0.8);
    }
    .projectFactsWrap .item:hover i,
    .projectFactsWrap .item:hover p {
        color: white;
    }
    .projectFactsWrap .item:hover span {
        background: white;
    }
    @media (max-width: 786px) {
        .projectFactsWrap .item {
            flex: 0 0 50%;
        }
    }
    /* FAQ Sectin */
    .contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        background-color: #fff;
        padding: 4em 5em;
        border-radius: 15px;
    }
    .title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 60px;
        color: var(--primary-text-color);
    }
    .intro {
        margin-bottom: 3em;
        color: var(--primary-text-color);
    }
    /* ACCORDION ITEM */
    .accordion-item {
        text-align: center;
        width: 100%;
    }
    .accordion-item-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        min-height: 5.5rem;
        cursor: pointer;
    }
    .accordion-item-title {
        color: #1a1a1a;
        font-size: 1.5em;
        letter-spacing: 1px;
        font-weight: 500;
        text-align: left;
    }
    .accordion-item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
    .accordion-item-body-content {
        width: 80%;
        padding-top: 1em;
        color: var(--primary-text-color);
        text-align: left;
    }
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border: 2px solid;
        width: 34px;
        height: 34px;
        color: #f7f8fc;
        transition: color 0.25s;
        position: relative;
        border-radius: 100%;
    }
    .icons:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 2px;
        background-color: #ffffff;
        border-radius: 20px;
        pointer-events: all;
        transition: all 0.3s ease-in-out;
    }
    .icons:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 14px;
        background-color: #ffffff;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
    }
    .accordion-item-header.active>.icons::before {
        transform: rotate(180deg);
    }
    .accordion-item-header.active>.icons::after {
        transform: rotate(90deg);
    }
    .divider {
        width: 100%;
        height: 1px;
        margin: 10px 0 10px 0;
        background-color: #dae1f5;
    }
    button {
        display: block;
        margin-top: 1.2em;
        padding: 0.6em 1.8em;
        border-radius: 30px;
        color: var(--primary-text-color);
        background: none;
        font-weight: 700;
        border: 2px solid #dae1f5;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }
    button:hover {
        background-color: #dae1f5;
    }
    /* News Sec */
    .news {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .news>.card {
        width: 33%;
        padding: 0px 1%;
    }
    .news>.card>.inner-card {
        padding: 15px;
        width: 100%;
        background: #fff;
        box-shadow: 0px 0px 99px #66666629;
        border-radius: 10px;
    }
    .inner-card>img {
        width: 100%;
    }
    .date-con {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .date-con>.left-box {
        width: 23%;
        background: #fff;
        box-shadow: 1px 1px 8px #00000044;
        /* position: absolute; */
        margin-top: -47px;
        margin-left: 10px;
        border-radius: 5px;
        padding: 3% 0px;
    }
    .date-con>.left-box>.date {
        text-align: center;
        font: normal normal 600 36px/44px Sarabun;
        letter-spacing: 4.8px;
        color: #0C5EAF;
        text-transform: uppercase;
    }
    .date-con>.left-box>.month {
        text-align: center;
        font: normal normal bold 20px/36px Montserrat;
        letter-spacing: 2px;
        color: #000000;
        text-transform: uppercase;
    }
    .cat {
        width: 80%;
    }
    .cat>h6 {
        text-align: left;
        letter-spacing: 1px;
        padding-left: 20px;
        margin-top: 22px;
        font-size: 23px;
        color: #9f9f9f;
        font-weight: 400;
    }
    .cat>h6>span {
        font: normal normal normal 20px/24px Sarabun;
        letter-spacing: 1px;
        color: #0C5EAF;
    }
    .news-conent {
        margin-top: 8%;
        margin-bottom: 10%;
        text-align: left;
    }
    .news-conent>h4 {
        font: normal normal 400 23px/36px Sarabun;
        letter-spacing: 2px;
        color: #1a1a1a;
        padding-right: 11%;
        margin-bottom: 6%;
    }
    .news-conent>p {
        font: normal normal normal 17px/35px Sarabun;
        letter-spacing: 1px;
        color: #666666;
        padding-right: 11%;
    }
    /* Meet Traner */
    .meet-h {
        text-align: left;
        width: 100%;
    }
    .news {
        position: relative;
        width: 100%;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .news>.train {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .t-img>img {
        width: 100px;
    }
    .m-content {
        text-align: left;
        margin-left: 16px;
    }
    .m-content>.samll {
        margin: 0;
        display: inline-block;
        font-family: Sarabun, sans-serif;
        font-weight: 700;
        letter-spacing: -.01em;
        font-size: 15px;
        line-height: 1.4em;
        font-weight: 500;
        color: #777;
    }
    .m-content>.name {
        font-size: 22px;
        letter-spacing: 2px;
        padding-right: 1%;
    }
    .widt {
        width: 1300px;
    }
    /* Testimonial Sec */
    .testim {
        width: 100%;
        background-image: url('/assets/resources/images/testimonial-v1.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 8% 0;
    }
    .testim .wrap {
        position: relative;
        width: 100%;
        max-width: 1250px;
        padding: 40px 20px;
        margin: auto;
    }
    .testi-nam {
        display: flex;
        align-items: center;
        margin-top: 3%;
    }
    .testim .arrow {
        display: none;
        position: absolute;
        color: #333;
        cursor: pointer;
        font-size: 2em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        padding: 5px;
        z-index: 22222222;
    }
    .quts {
        font-size: 5em;
        position: absolute;
        top: -92px;
    }
    .testim .arrow:before {
        cursor: pointer;
    }
    .testim .arrow:hover {
        color: rgb(255, 255, 255);
    }
    .testim .arrow.left {
        left: 70px;
    }
    .testim .arrow.right {
        right: 70px;
    }
    .testim .dots {
        text-align: center;
        position: absolute;
        /* width: 100%; */
        bottom: -50px;
        right: 0;
        display: block;
        z-index: 3333;
        height: 22px;
    }
    .testim .dots .dot {
        list-style-type: none;
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid rgb(255, 255, 255);
        margin: 0 10px;
        cursor: pointer;
        -webkit-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        position: relative;
    }
    .testim .dots .dot.active,
    .testim .dots .dot:hover {
        background: #ce0404;
        border-color: #ce0404;
        width: 20px;
        height: 20px;
    }
    .testim .dots .dot.active {
        -webkit-animation: testim-scale .5s ease-in-out forwards;
        -moz-animation: testim-scale .5s ease-in-out forwards;
        -ms-animation: testim-scale .5s ease-in-out forwards;
        -o-animation: testim-scale .5s ease-in-out forwards;
        animation: testim-scale .5s ease-in-out forwards;
    }
    .testim .cont {
        position: relative;
        overflow: hidden;
    }
    .testim .cont>div {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 0 70px 0;
        opacity: 0;
    }
    .testim .cont>div.inactive {
        opacity: 1;
    }
    .testim .cont>div.active {
        position: relative;
        opacity: 1;
    }
    .testim .cont div .img img {
        display: block;
        width: 80px;
        height: 80px;
        margin: auto;
        border-radius: 50%;
    }
    .testim .cont div h2 {
        color: rgb(255, 255, 255);
        font-size: 1.2em;
        margin: 15px 0;
        text-align: left;
        margin-left: 28px;
        letter-spacing: 1px;
    }
    .testim .cont div p {
        font-size: 1.8em;
        color: rgb(255, 255, 255);
        width: 60%;
        letter-spacing: 2px;
        line-height: 2;
        /* margin: auto; */
        position: relative;
        text-align: left;
    }
    .testim .cont div.active .img img {
        -webkit-animation: testim-show .5s ease-in-out forwards;
        -moz-animation: testim-show .5s ease-in-out forwards;
        -ms-animation: testim-show .5s ease-in-out forwards;
        -o-animation: testim-show .5s ease-in-out forwards;
        animation: testim-show .5s ease-in-out forwards;
    }
    .testim .cont div.active h2 {
        -webkit-animation: testim-content-in .4s ease-in-out forwards;
        -moz-animation: testim-content-in .4s ease-in-out forwards;
        -ms-animation: testim-content-in .4s ease-in-out forwards;
        -o-animation: testim-content-in .4s ease-in-out forwards;
        animation: testim-content-in .4s ease-in-out forwards;
    }
    .testim .cont div.active p {
        -webkit-animation: testim-content-in .5s ease-in-out forwards;
        -moz-animation: testim-content-in .5s ease-in-out forwards;
        -ms-animation: testim-content-in .5s ease-in-out forwards;
        -o-animation: testim-content-in .5s ease-in-out forwards;
        animation: testim-content-in .5s ease-in-out forwards;
    }
    .testim .cont div.inactive .img img {
        -webkit-animation: testim-hide .5s ease-in-out forwards;
        -moz-animation: testim-hide .5s ease-in-out forwards;
        -ms-animation: testim-hide .5s ease-in-out forwards;
        -o-animation: testim-hide .5s ease-in-out forwards;
        animation: testim-hide .5s ease-in-out forwards;
    }
    .testim .cont div.inactive h2 {
        -webkit-animation: testim-content-out .4s ease-in-out forwards;
        -moz-animation: testim-content-out .4s ease-in-out forwards;
        -ms-animation: testim-content-out .4s ease-in-out forwards;
        -o-animation: testim-content-out .4s ease-in-out forwards;
        animation: testim-content-out .4s ease-in-out forwards;
    }
    .testim .cont div.inactive p {
        -webkit-animation: testim-content-out .5s ease-in-out forwards;
        -moz-animation: testim-content-out .5s ease-in-out forwards;
        -ms-animation: testim-content-out .5s ease-in-out forwards;
        -o-animation: testim-content-out .5s ease-in-out forwards;
        animation: testim-content-out .5s ease-in-out forwards;
    }
    @-webkit-keyframes testim-scale {
        0% {
            -webkit-box-shadow: 0px 0px 0px 0px #eee;
            box-shadow: 0px 0px 0px 0px #eee;
        }
        35% {
            -webkit-box-shadow: 0px 0px 10px 5px #eee;
            box-shadow: 0px 0px 10px 5px #eee;
        }
        70% {
            -webkit-box-shadow: 0px 0px 10px 5px #ea830e;
            box-shadow: 0px 0px 10px 5px #ea830e;
        }
        100% {
            -webkit-box-shadow: 0px 0px 0px 0px #ea830e;
            box-shadow: 0px 0px 0px 0px #ea830e;
        }
    }
    @-moz-keyframes testim-scale {
        0% {
            -moz-box-shadow: 0px 0px 0px 0px #eee;
            box-shadow: 0px 0px 0px 0px #eee;
        }
        35% {
            -moz-box-shadow: 0px 0px 10px 5px #eee;
            box-shadow: 0px 0px 10px 5px #eee;
        }
        70% {
            -moz-box-shadow: 0px 0px 10px 5px #ea830e;
            box-shadow: 0px 0px 10px 5px #ea830e;
        }
        100% {
            -moz-box-shadow: 0px 0px 0px 0px #ea830e;
            box-shadow: 0px 0px 0px 0px #ea830e;
        }
    }
    @-ms-keyframes testim-scale {
        0% {
            -ms-box-shadow: 0px 0px 0px 0px #eee;
            box-shadow: 0px 0px 0px 0px #eee;
        }
        35% {
            -ms-box-shadow: 0px 0px 10px 5px #eee;
            box-shadow: 0px 0px 10px 5px #eee;
        }
        70% {
            -ms-box-shadow: 0px 0px 10px 5px #ea830e;
            box-shadow: 0px 0px 10px 5px #ea830e;
        }
        100% {
            -ms-box-shadow: 0px 0px 0px 0px #ea830e;
            box-shadow: 0px 0px 0px 0px #ea830e;
        }
    }
    @-o-keyframes testim-scale {
        0% {
            -o-box-shadow: 0px 0px 0px 0px #eee;
            box-shadow: 0px 0px 0px 0px #eee;
        }
        35% {
            -o-box-shadow: 0px 0px 10px 5px #eee;
            box-shadow: 0px 0px 10px 5px #eee;
        }
        70% {
            -o-box-shadow: 0px 0px 10px 5px #ea830e;
            box-shadow: 0px 0px 10px 5px #ea830e;
        }
        100% {
            -o-box-shadow: 0px 0px 0px 0px #ea830e;
            box-shadow: 0px 0px 0px 0px #ea830e;
        }
    }
    @keyframes testim-scale {
        0% {
            box-shadow: 0px 0px 0px 0px #eee;
        }
        35% {
            box-shadow: 0px 0px 10px 5px #eee;
        }
        70% {
            box-shadow: 0px 0px 10px 5px #ea830e;
        }
        100% {
            box-shadow: 0px 0px 0px 0px #ea830e;
        }
    }
    @-webkit-keyframes testim-content-in {
        from {
            opacity: 0;
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
        }
        to {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
    @-moz-keyframes testim-content-in {
        from {
            opacity: 0;
            -moz-transform: translateY(100%);
            transform: translateY(100%);
        }
        to {
            opacity: 1;
            -moz-transform: translateY(0);
            transform: translateY(0);
        }
    }
    @-ms-keyframes testim-content-in {
        from {
            opacity: 0;
            -ms-transform: translateY(100%);
            transform: translateY(100%);
        }
        to {
            opacity: 1;
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
    }
    @-o-keyframes testim-content-in {
        from {
            opacity: 0;
            -o-transform: translateY(100%);
            transform: translateY(100%);
        }
        to {
            opacity: 1;
            -o-transform: translateY(0);
            transform: translateY(0);
        }
    }
    @keyframes testim-content-in {
        from {
            opacity: 0;
            transform: translateY(100%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @-webkit-keyframes testim-content-out {
        from {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        to {
            opacity: 0;
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }
    @-moz-keyframes testim-content-out {
        from {
            opacity: 1;
            -moz-transform: translateY(0);
            transform: translateY(0);
        }
        to {
            opacity: 0;
            -moz-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }
    @-ms-keyframes testim-content-out {
        from {
            opacity: 1;
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
        to {
            opacity: 0;
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }
    @-o-keyframes testim-content-out {
        from {
            opacity: 1;
            -o-transform: translateY(0);
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }
    @keyframes testim-content-out {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-100%);
        }
    }
    @-webkit-keyframes testim-show {
        from {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        to {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    @-moz-keyframes testim-show {
        from {
            opacity: 0;
            -moz-transform: scale(0);
            transform: scale(0);
        }
        to {
            opacity: 1;
            -moz-transform: scale(1);
            transform: scale(1);
        }
    }
    @-ms-keyframes testim-show {
        from {
            opacity: 0;
            -ms-transform: scale(0);
            transform: scale(0);
        }
        to {
            opacity: 1;
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
    @-o-keyframes testim-show {
        from {
            opacity: 0;
            -o-transform: scale(0);
            transform: scale(0);
        }
        to {
            opacity: 1;
            -o-transform: scale(1);
            transform: scale(1);
        }
    }
    @keyframes testim-show {
        from {
            opacity: 0;
            transform: scale(0);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    @-webkit-keyframes testim-hide {
        from {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        to {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
    }
    @-moz-keyframes testim-hide {
        from {
            opacity: 1;
            -moz-transform: scale(1);
            transform: scale(1);
        }
        to {
            opacity: 0;
            -moz-transform: scale(0);
            transform: scale(0);
        }
    }
    @-ms-keyframes testim-hide {
        from {
            opacity: 1;
            -ms-transform: scale(1);
            transform: scale(1);
        }
        to {
            opacity: 0;
            -ms-transform: scale(0);
            transform: scale(0);
        }
    }
    @-o-keyframes testim-hide {
        from {
            opacity: 1;
            -o-transform: scale(1);
            transform: scale(1);
        }
        to {
            opacity: 0;
            -o-transform: scale(0);
            transform: scale(0);
        }
    }
    @keyframes testim-hide {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(0);
        }
    }
    @media all and (max-width: 300px) {}
    @media all and (max-width: 500px) {
        .testim .arrow {
            font-size: 1.5em;
        }
        .testim .cont div p {
            line-height: 25px;
        }
    }
    /* blog Sec */
    .blog {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .blog>.card {
        width: 33%;
        padding: 0px 1%;
    }
    .blog>.card>.inner-card {
        width: 100%;
    }
    .blog>.inner-card>img {
        width: 100%;
    }
    .blog>.date-con {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .blog>.card>.inner-card>.date-con>.left-box {
        width: 20%;
        background: none;
        box-shadow: none;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 0px;
        margin: 9% 0px;
        border-right: 2px solid #b7b7b7;
        padding: 0;
    }
    .blog>.card>.inner-card>.date-con>.left-box>.date {
        text-align: left;
        font: normal normal 600 36px/44px Sarabun;
        letter-spacing: 4.8px;
        color: #1a1a1a;
        text-transform: uppercase;
    }
    .blog>.card>.inner-card>.date-con>.left-box>.month {
        text-align: revert;
        font: normal normal bold 17px/36px Montserrat;
        letter-spacing: 2px;
        color: #000000;
        text-transform: capitalize;
    }
    .blog>.card>.inner-card>.date-con>.cat {
        width: 80%;
    }
    .blog>.card>.inner-card>.date-con>.cat>h6 {
        text-align: left;
        letter-spacing: 1px;
        padding-left: 20px;
        margin-top: 22px;
        font-size: 18px;
        color: #9f9f9f;
        font-weight: 400;
    }
    .blog>.card>.inner-card>.date-con>.cat>h6>span {
        font: normal normal normal 20px/24px Sarabun;
        letter-spacing: 1px;
        color: #0C5EAF;
    }
    .blog-conent {
        margin-top: 3%;
        margin-bottom: 10%;
        text-align: left;
        margin-left: 19px;
    }
    .blog-conent>h4 {
        font: normal normal 400 19px/29px Sarabun;
        letter-spacing: 2px;
        color: #1a1a1a;
        padding-right: 11%;
        margin-bottom: 6%;
    }
    .blog-conent>p {
        font: normal normal normal 17px/26px Sarabun;
        letter-spacing: 1px;
        color: #666666;
        padding-right: 11%;
    }
    .blog>.card>.inner-card>.date-con>.cat>.blog-conent>a>.icons {
        letter-spacing: -.01em;
        font-size: 17px;
        line-height: 1.294em;
        align-items: center;
        display: flex;
        gap: 14px;
        height: auto;
        justify-content: center;
        background: #ce0404;
        padding: 20px 20px;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
    }
    .blog>.card>.inner-card>.date-con>.cat>.blog-conent>a {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 17px;
        color: #1a1a1a;
        letter-spacing: 1px;
        font-weight: 500;
    }
    /* Red_blue */
    .w-100 {
        width: 100%;
    }
    .flex-div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .red-div {
        width: 40%;
        background: #ce0404;
    }
    .red-con>h6 {
        text-align: right;
        font: normal normal 400 29px/48px Sarabun;
        letter-spacing: 1.8px;
        color: #FFFFFF;
        text-transform: capitalize;
        padding-right: 17%;
        padding-left: 80px;
    }
    .red-con {
        width: 60%;
    }
    .blue-div {
        width: 60%;
        background: #005EAF;
        padding: 11px 3%;
    }
    .blue-con>h6 {
        font: normal normal bold 24px/58px Sarabun;
        letter-spacing: 1.2px;
        color: #fff;
    }
    .blue-con>h4 {
        font: normal normal bold 36px/58px Sarabun;
        letter-spacing: 1.8px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .enroll>a {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 5px 5px 10px #00000029;
        padding: 15px 15px;
        margin-left: 40px;
        font-size: 18px;
        color: #1a1a1a;
        letter-spacing: 1px;
        font-weight: 500;
        border-radius: 5px;
    }
    .enroll>a>span {
        margin-right: 10px;
        font-size: 25px;
        font-weight: 500;
    }
    /* Logo Slider */
    .trigger {
        padding: 2% 0px;
        background: #F5F5F5;
    }
    /* Slick Slider */
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 135%;
        font-size: 1.8rem;
        display: none;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .slick-list:focus {
        outline: none;
    }
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
    }
    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }
    .slick-track:after {
        clear: both;
    }
    .slick-loading .slick-track {
        visibility: hidden;
    }
    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide {
        float: right;
    }
    .slick-slide img {
        display: block;
        margin: 0 auto;
    }
    .slick-slide.slick-loading img {
        display: none;
    }
    .slick-slide.dragging img {
        pointer-events: none;
    }
    .slick-initialized .slick-slide {
        display: block;
    }
    .slick-loading .slick-slide {
        visibility: hidden;
    }
    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    .slick-arrow.slick-hidden {
        display: none;
    }
    .slide {
        transition: filter .4s;
        margin: 0px 40px;
    }
    .fas {
        color: #96bd0b;
    }
    .slick-prev {
        left: 0;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 35%;
        font-size: 1.8rem;
    }
}


/* BASIC SETUP */

.page-wrapper {
    width: 100%;
    height: auto;
}

.nav-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
}

.nav-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    border-bottom-color: #ffffff80;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}


/* NAVIGATION */

.header {
    position: absolute;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0);
    height: 80px;
    z-index: 100;
}

.link img {
    width: 150px;
    padding-left: 10px;
}

.navbar {
    height: 100%;
    margin-left: auto;
}

.navbar>.link {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 80px;
    max-height: 100%;
    position: relative;
}

.navbar img {
    height: 16px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
}

.navbar ul {
    list-style: none;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    white-space: nowrap;
}

.navbar ul li {
    height: 100%;
    padding: 0 28px;
    position: relative;
}

.navbar>ul>li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--qode-main-color);
    transform: scale3d(0, 1, 1);
    transform-origin: left;
    transition: transform .2s;
}

.navbar>ul>li.current-menu::before {
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
}

.nav-item a {
    font-family: Sarabun, sans-serif;
    font-weight: 700;
    letter-spacing: -.01em;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.294em;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.nav-item a:hover {
    color: #3498db;
}

.right-nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 28px;
}

.call-us {
    padding: 15px;
}

.call-us a {
    padding: 8px 34px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 2px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
}

.icons {
    letter-spacing: -.01em;
    font-size: 17px;
    line-height: 1.294em;
    align-items: center;
    display: flex;
    gap: 14px;
    height: 100%;
    justify-content: center;
    background: #ce0404;
    padding: 28px 28px;
    position: relative;
}

.navicon a {}

.navicon .fas {
    font-size: 29px;
    color: #fff;
}


/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
}

.menu-toggle:hover {
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}


/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


/* Media Queries */


/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
    .features {
        flex-direction: column;
        padding: 50px;
    }
    /* MOBILE HEADINGS */
    h1 {
        font-size: 1.9rem;
    }
    h2 {
        font-size: 1rem;
    }
    p {
        font-size: 0.8rem;
    }
    /* MOBILE NAVIGATION */
    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 55px;
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
    }
    .navbar li {
        padding: 15px;
    }
    .navbar li:first-child {
        margin-top: 50px;
    }
    .navbar li a {
        font-size: 1rem;
    }
    .menu-toggle,
    .bar {
        display: block;
        cursor: pointer;
    }
    .mobile-nav {
        transform: translate(0%)!important;
    }
}