/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
  }
  :root {
	--qode-main-color: #f7c600;
	--qode-header-light-color: #ffffff;
	--qode-header-light-hover-color: #f7c600;
	--qode-header-dark-color: #1b1b1b;
	--qode-header-dark-hover-color: #ffffff
}
 a{
  text-decoration: none;
 }
/* Cta */
.cta1{
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 2%;
  color: #333333;
}
.cta1 span{
background: #C01B27;
border-radius: 50px;
color: #fff;
font-size: 30px;
padding: 5px 15px;
vertical-align: middle;
}
/* Col */
@media (min-width: 768px){

.col-25 {
    width: 25%;
}
.col-inner{
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0% 15% 0% 0%;
}
.content{
    width: 100%;
}
.div-con{
    text-align: left;
}
.custom-icon{
        position: relative;
        display: inline-block;
        vertical-align: top;
}
.custom-icon img{
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.text-con{
  position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-bottom: 5%;
}
.h-title{
  font-family: Sarabun,sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #1b1b1b;
  font-size: 29px;
  line-height: 1.5em;
    padding-right: 40px;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.m-title{
  font-family: Sarabun,sans-serif;
    font-weight: 700;
    letter-spacing: -.01em;
    color: #1b1b1b;
    font-size: 45px;
    line-height: 1.155em;
    margin: 25px 0;
    word-wrap: break-word;
}
.m-text{
  margin: 14px 0 0;
  font-size: 15px;
  line-height: 1.7;
letter-spacing: 0.9px;
color: #666666;
}
.dvid .m-text:after {
  background-color: #a6a6a6;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100vw;
}
.dvid .m-text{
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
}

.info-div{
  display: flex;
}
  /* Section Two */
  .secion-2{
    padding: 160px 0;
    background-color: #ffffff;
  }
  .contain-flex{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
.info-con{
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 4%;
}
.dvid .info-con{
  display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 10px;
}
.relative{
  position: relative;
}
.info-image{
  width: 63%;
    padding-left: 5.8%;
    padding-right: 0px;
    border-left: 1px solid #a6a6a6;
}
.dvid .info-image{
  flex-shrink: 0;
}
.info-image
  img {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.cta1 .call{
  padding:6px 14px;
  margin-right: 10px;
}
.call img{
  filter: brightness(12);
}
.get-on{
  width: 40%;
  padding-right: 4%;
}
.get-on h2{
  font-weight: 400;
    letter-spacing: 0.01em;
    color: #1a1a1a;
    font-size: 40px;
    line-height: 1.5em;
    padding-right: 10%;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.get-on p{
  margin: 20px 0px;
  font-size: 15px;
  letter-spacing: 0.9px;
color: #707070;
}
.get-on>.no{
  margin: 0;
}
.get-on>.no>a{
  color: #1a1a1a;
}
.get-on>h6{
  margin-top: 10%;
  letter-spacing: 1px;
  color: #D31A1A;
}
.email-center{
  display: flex;
  margin-top: 10%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.get-on>.email-center h6{
  color: #D31A1A;
  letter-spacing: 1px;
}
.traning{
width: 50%;
}
.email-center p{
  line-height: 1.7;
}




/* Form Css */
.radio-input {
  visibility: hidden;
}
.radio-label {
  position: relative;
  padding-left: 35px;
}
.radio-label:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 4px;
  top: 4px;
  border-radius: 50%;
}
.radio-border {
  width: 20px;
  height: 20px;
  display: inline-block;
  outline: solid 3px #000000;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.radio-input:checked + .radio-label:after {
  transition: all 0.5s;
  background-color: #000000;
}
.form-div{
  width: 60%;
}
.datainput {
  position: relative;
  margin: 5px 0 20px
}

.datainput p {
  font-size: 12px;
  background: #eee;
  display: inline-block;
  padding: 5px 15px;
  border-radius: .5rem
}

.whatsapp-form textarea {
  min-height: 120px
}

.datainput select {
  padding: 12px 0;
  color: #555;
  font-size: 14px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ddd;
  outline: none;
  background: #fff
}

.datainput input,
.datainput textarea {
  font-size: 15px;
  padding: 15px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd
}

.datainput input:focus,
.datainput textarea:focus {
  outline: none
}

.datainput label {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 18px;
  transition: .2s ease all
}

.datainput input:focus~label,
.datainput input:valid~label,
.datainput textarea:focus~label,
.datainput textarea:valid~label {
  top: -10px;
  font-size: 14px;
  color: #21a51f
}

#notif-license span {
  font-size: 40px
}

#notif-license {
  display: none;
  position: fixed
}

.bar {
  position: relative;
  display: block;
  width: 100%
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #c01b27;
  transition: .2s ease all
}

.bar:before {
  left: 50%
}

.bar:after {
  right: 50%
}

.datainput input:focus~.bar:before,
.datainput input:focus~.bar:after,
.datainput textarea:focus~.bar:before,
.datainput textarea:focus~.bar:after {
  width: 50%
}


.greenx {
  background: #c01b27
}

.highlight {
  position: absolute;
  height: 50%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: .5
}

.datainput input:focus~.highlight,
.datainput textarea:focus~.highlight {
  animation: inputHighlighter .3s ease
}

.datainput input:focus~label,
.datainput input:valid~label,
.datainput textarea:focus~label,
.datainput textarea:valid~label {
  top: -10px;
  font-size: 13px;
  color: #c01b27
}
.redio input:focus~label, .redio input:valid~label, .redio textarea:focus~label, .redio textarea:valid~label {
  top: -10px;
  font-size: 11px;
  color: #000000;
}

form.whatsapp-form {
  /* box-shadow: 0 1px 6px rgba(32, 33, 36, .28); */
  border-radius: .5rem;
  padding: 20px;
  box-sizing: border-box;
  color: #444;
  font-size: 14px;
  padding-left: 9%;
  line-height: 1.5;
}

.whatsapp-form a.send_form {
  color: #fff;
  background: #c01b27;
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  border-radius: .3rem;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: 15px;
  margin-top: 4%;
}

#text-info span {
  display: block;
  padding: 10px 15px;
  text-align: center;
  font-weight: 700;
  margin: 15px 0;
  border-radius: .5rem;
}

#text-info span.yes {
  background: #c6ffc5;
  color: #0ea904;
}

#text-info span.no {
  background: #ffc5c5;
  color: #ce0404;
}


/* Counter */

.projectFactsWrap{
  display: flex;
margin-top: 30px;
flex-direction: row;
flex-wrap: wrap;
}

#projectFacts{
  padding: 10%;
    background: transparent linear-gradient(
106deg, #005EAF 0%, #0F1F5F 100%) 0% 0% no-repeat padding-box;
}
#projectFacts .fullWidth{
padding: 0;
}

.projectFactsWrap .item{
width: 25%;
height: 100%;
padding: 20px 50px;
border-left: 1px solid #fff;
}

/* .projectFactsWrap .item:nth-child(1){
background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2){
background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3){
background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4){
background: rgb(23, 44, 66);
} */
.secion-4{
  margin-bottom: 160px;
}
.projectFactsWrap .item p.number{
font-size: 60px;
padding: 0;
font-weight: bold;
}

.projectFactsWrap .item p{
color: rgba(255, 255, 255, 0.8);
font-size: 18px;
margin: 0;
letter-spacing: 1px;
text-align: left;

}


.projectFactsWrap .item span{
width: 60px;
background: rgba(255, 255, 255, 0.8);
height: 2px;
display: block;
margin: 0 auto;
}


.projectFactsWrap .item i{
vertical-align: middle;
font-size: 50px;
color: rgba(255, 255, 255, 0.8);
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
color: white;
}

.projectFactsWrap .item:hover span{
background: white;
}

@media (max-width: 786px){
.projectFactsWrap .item {
   flex: 0 0 50%;
}
}


/* FAQ Sectin */
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1181px;
  background-color: #fff;
  padding: 4em 5em;
  border-radius: 15px;
}
.title {
  font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 60px;
  color: var(--primary-text-color);
}
.intro {
  margin-bottom: 3em;
  color: var(--primary-text-color);
}
/* ACCORDION ITEM */
.accordion-item {
  text-align: center;
  width: 100%;
}
.accordion-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  min-height: 5.5rem;
  cursor: pointer;
}
.accordion-item-title {
  color: #1a1a1a;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: left;
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion-item-body-content {
  width: 80%;
  padding-top: 1em;
  color: var(--primary-text-color);
  text-align: left;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid;
  width: 34px;
  height: 34px;
  color: #f7f8fc;
  transition: color 0.25s;
  position: relative;
  border-radius: 100%;
}
.icons:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 20px;
  pointer-events: all;
  transition: all 0.3s ease-in-out;
}
.icons:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.accordion-item-header.active > .icons::before {
  transform: rotate(180deg);
}
.accordion-item-header.active > .icons::after {
  transform: rotate(90deg);
}
.divider {
  width: 100%;
  height: 1px;
  margin: 10px 0 10px 0;
  background-color: #dae1f5;
}
button {
  display: block;
  margin-top: 1.2em;
  padding: 0.6em 1.8em;
  border-radius: 30px;
  color: var(--primary-text-color);
  background: none;
  font-weight: 700;
  border: 2px solid #dae1f5;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
button:hover {
  background-color: #dae1f5;
}
}










  
  /* BASIC SETUP */
  
  .page-wrapper {
    width: 100%;
    height: auto;
  }
  
  .nav-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    
  }
  .nav-wrapper{
    padding-left: 0px;
    padding-right: 0px;
    border-bottom-color: #ffffff80;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  
  
  /* NAVIGATION */
  .header{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background-color: rgb(114, 114, 114);
    height: 80px;
    z-index: 100;
  }
  .link img{
      width: 150px;
      padding-left: 10px;
  }
  .navbar {
    height: 100%;
    margin-left: auto;
  }
  .navbar>.link{
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 80px;
    max-height: 100%;
    position: relative;
  }
  
  .navbar img {
    height: 16px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }
  
  .navbar ul {
    list-style: none;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    white-space: nowrap;
    
  }
  .navbar ul li{
    height: 100%;
    padding: 0 28px;
  
    position: relative;
  }
  .navbar>ul>li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--qode-main-color);
    transform: scale3d(0,1,1);
    transform-origin: left;
    transition: transform .2s;
  }
  .navbar>ul>li.current-menu::before{
    transform: scale3d(1,1,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
}
  .nav-item a {
    font-family: Sarabun,sans-serif;
    font-weight: 700;
    letter-spacing: -.01em;
    color: hsl(0, 0%, 11%);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.294em;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: #3498db;
  }
  .right-nav{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 28px;
  }
.call-us{
   padding: 15px;
}
.call-us a{
   padding: 8px 34px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 2px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
}
.icons{
    letter-spacing: -.01em;
    font-size: 17px;
    line-height: 1.294em;
    align-items: center;
    display: flex;
    gap: 14px;
    height: 100%;
    justify-content: center;
    background:#ce0404;
    padding: 28px 28px;
    position: relative;

}
.navicon a{}
.navicon .fas{
 font-size: 29px;
 color: #fff;
}
  /* MOBILE MENU & ANIMATION */
  
  .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* KEYFRAME ANIMATIONS */
  
  @-webkit-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 720px) { 
    .features {
      flex-direction: column;
      padding: 50px;
    }
    
    /* MOBILE HEADINGS */
    
    h1 {
      font-size: 1.9rem;
    }
    
    h2 {
      font-size: 1rem;
    }
    
    p {
      font-size: 0.8rem;
    }
    
    /* MOBILE NAVIGATION */
       
    .navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 55px;
      background-color: #fff;
      width: 100%;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
    }
    
    .navbar li {
      padding: 15px;
    }
    
    .navbar li:first-child {
      margin-top: 50px;
    }
    
    .navbar li a {
      font-size: 1rem;
    }
     
    .menu-toggle, .bar {
      display: block;
      cursor: pointer;
    }
    
    .mobile-nav {
    transform: translate(0%)!important;
  }
    
    
  }


