@media only screen and (max-width: 1280px) {
    .fnc-slide__content {
        top: 32%;
    }
    .navbar ul li {
        height: 100%;
        padding: 0px 15px;
        position: relative;
        margin-left: 10px;
    }
    .nav-item>a {
        font-size: 14px;
    }
    .fnc-slide__heading-line {
        font-size: 51px;
    }
    .fnc-slide__heading-line .smal {
        text-align: left;
        font: normal normal 500 23px/0px Montserrat;
        letter-spacing: 1.8px;
        color: #FFFFFF;
        text-shadow: 5px 5px 5px #00000052;
        text-transform: uppercase;
    }
    .red-div {
        height: 25.3vh;
    }
    .hero-banner h4 {
        font: normal normal bold 64px/86px Montserrat;
        letter-spacing: 3.2px;
        color: #FFFFFF;
        text-shadow: 10px 10px 12px #00000029;
        text-transform: capitalize;
        margin-left: 8%;
    }
    .enroll>a {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 5px 5px 10px #00000029;
        padding: 18px 15px;
        margin-left: 40px;
        font-size: 14px;
        color: #1a1a1a;
        letter-spacing: 1px;
        font-weight: 500;
        border-radius: 5px;
    }
    .course>.card>.inner-card>.imgg>.dat {
        right: 45px;
    }
    .h-title {
        font-family: Sarabun, sans-serif;
        font-weight: 300;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        font-size: 23px;
        line-height: 1.5em;
        padding-right: 40%;
        margin: 18px 0;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    .icons {
        padding: 20px 20px;
        position: relative;
    }
    /*  */
    .flex-div {
        flex-wrap: nowrap;
    }
    .red-con>h6 {
        padding-right: 11%;
    }
    .blue-con>h6 {
        font: normal normal bold 20px/29px Sarabun;
        letter-spacing: 1.2px;
        color: #fff;
    }
    .blue-con>h4 {
        font: normal normal bold 25px/58px Sarabun;
        letter-spacing: 1px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .blue-div {
        width: 60%;
        background: #005EAF;
        padding: 2.6% 3%;
        height: 25.3vh;
    }
    .bl-tr .flex-div {
        width: 80%;
    }
    .blue-con {
        width: 55%;
    }
    .blog-conent>p {
        font: normal normal normal 14px/26px Sarabun;
    }
}


/* mobile resposive */

@media only screen and (max-width: 768px) {
    .right-nav {
        display: none;
    }
    .navbar ul li {
        height: auto;
    }
    .navbar>ul>li::before {
        display: none;
    }
    .navbar ul li {
        padding: 15px;
    }
    .fnc-slide__content {
        position: relative;
        top: 30%;
        left: 10px;
    }
    .fnc-slide__heading-line {
        padding-right: 0;
    }
    .fnc-nav__control {
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 44%;
        height: 50px;
        letter-spacing: 1px;
        margin: 0px 10px;
        font-weight: 500;
        text-align: left;
        font-size: 10px;
        color: #fff;
        text-transform: uppercase;
        background: transparent;
        border: none;
        border-radius: 0px;
        outline: none;
        cursor: pointer;
        transition: background-color 0.5s;
    }
    /* secion2 */
    .secion-2 {
        padding: 70px 20px;
        background-color: #ffffff;
    }
    .contain-flex {
        width: 100%;
        margin: 0 auto;
        display: block;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    .div-con {
        text-align: left;
    }
    .custom-icon {
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    .custom-icon img {
        height: auto;
        max-width: 100%;
        border: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .text-con {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin-bottom: 0%;
    }
    .icons:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 2px;
        background-color: #ffffff;
        border-radius: 20px;
        pointer-events: all;
        transition: all 0.3s ease-in-out;
    }
    .icons:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 14px;
        background-color: #ffffff;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
    }
    .h-title {
        font-family: Sarabun, sans-serif;
        font-weight: 500;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        font-size: 22px;
        line-height: 0.7em;
        padding-right: 22%;
        margin: 25px 0;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    .m-text {
        margin: 14px 0 0px;
        font-size: 15px;
        line-height: 1.7;
        letter-spacing: 0.9px;
        color: #666666;
    }
    .call img {
        filter: brightness(12);
        margin-bottom: 9px;
    }
    .div-con>a {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 19px;
        color: #1a1a1a;
        letter-spacing: 1px;
        font-weight: 500;
        margin-top: 6%;
    }
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border: 2px solid;
        width: 34px;
        height: 34px;
        color: #f7f8fc;
        transition: color 0.25s;
        position: relative;
        border-radius: 100%;
    }
    .col-25 {
        width: 100%;
        margin-bottom: 15%;
    }
    .icons {
        letter-spacing: -.01em;
        font-size: 17px;
        line-height: 1.294em;
        align-items: center;
        display: flex;
        gap: 14px;
        height: 100%;
        justify-content: center;
        background: #ce0404;
        padding: 18px 18px;
        position: relative;
    }
    .div-con>a>.icons {
        margin-right: 10px;
        transform: rotate(0);
        transform-origin: center;
        transition: transform .2s ease-out;
    }
    /* mm */
    .secion-3 {
        padding: 90px 36px;
        margin-bottom: 7%;
    }
    .info-div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .callme {
        display: none;
    }
    .info-con {
        margin-top: 10%;
    }
    /* From */
    .get-on {
        width: 100%;
        padding: 10px 30px;
    }
    .get-on h2 {
        font-weight: 600;
        letter-spacing: 0.01em;
        color: #1a1a1a;
        font-size: 35px;
        line-height: 1.3em;
        padding-right: 0%;
        margin: 25px 0;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    .get-on p {
        margin: 10px 0px;
        font-size: 15px;
        letter-spacing: 0.9px;
        color: #707070;
    }
    .get-on>h6 {
        margin-top: 10%;
        letter-spacing: 1px;
        color: #D31A1A;
        font-size: 14px;
    }
    .get-on>.no>a {
        color: #1a1a1a;
        font-weight: 600;
    }
    .get-on>.no {
        margin: 0;
    }
    .email-center {
        display: flex;
        margin-top: 10%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .get-on>.email-center h6 {
        color: #D31A1A;
        letter-spacing: 1px;
        font-size: 14px;
    }
    .get-on>.email-center>.email {
        margin-top: 5%;
    }
    .get-on p a {
        color: #707070;
    }
    /* footer Css */
    .footer {
        width: 100%;
        background: #00121b;
        display: block;
        background-image: url('/assets/resources/images/footer-bg.png');
        background-size: cover;
    }
    .inner-footer {
        width: 95%;
        margin: auto;
        padding: 79px 20px 80px 10px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
    }
    .inner-footer:last-child2 {
        padding-right: 10px;
    }
    .footer-items {
        width: 23%;
        padding: 10px 20px;
        box-sizing: border-box;
        color: #fff;
    }
    .fp-l {
        padding-left: 2%;
        padding-right: 0;
    }
    .footer-items img {
        width: 150px;
    }
    .footer-items .subit {
        display: flex;
    }
    .footer-items .subit input {
        color: #fff;
    }
    .footer-items h6 {
        margin-top: 37px;
        margin-bottom: 7px;
        color: #c01b27;
        letter-spacing: 1px;
        font-size: 15px;
    }
    .footer-items h4 {
        font-size: 1.8em;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .footer-items a h4 {
        color: #fff;
    }
    .footer-items h3 {
        letter-spacing: 1px;
        font-size: 15px;
        text-transform: uppercase;
    }
    .logo-footer {
        width: 30%;
    }
    .footer-items .subit input {
        width: 62%;
        background: transparent;
        border: 2px solid #ffffff38;
        padding: 13px 9px;
    }
    .footer-items .subit button {
        margin: 0;
        border-radius: 0px;
        padding: 0.6em 1em;
        background: #c01b27 0% 0% no-repeat padding-box;
        border-color: #c01b27;
        border: 0;
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
    }
    .footer-items p {
        font-size: 13px;
        text-align: justify;
        line-height: 25px;
        color: #ddd;
        margin-top: 7%;
        letter-spacing: 1px;
        margin-bottom: 8%;
    }
    .footer-items h1 {
        color: #fff;
    }
    .border1 {
        height: 3px;
        width: 40px;
        background: #ff9800;
        color: #ff9800;
        background-color: #ff9800;
        border: 0px;
    }
    .footer ul {
        list-style: none;
        color: #fff;
        font-size: 15px;
        letter-spacing: 0.5px;
    }
    .footer ul li a {
        text-decoration: none;
        outline: none;
        color: #fff;
        transition: 0.3s;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 0 1px;
        transition: background-size .4s cubic-bezier(.22, .61, .36, 1);
    }
    .footer ul li a:hover {
        background-size: 100% 1px;
    }
    .footer ul li a::after {
        content: '';
        width: 0;
        height: 1px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .footer ul li a:hover::after {
        width: 100%;
    }
    /* .footer ul a:hover {
        color: #ff9800;
    } */
    .footer ul li {
        margin: 10px 0;
        height: 25px;
        letter-spacing: 2px;
        font-size: 13px;
        color: #efefef;
    }
    .footer li i {
        margin-right: 20px;
    }
    .social-media {
        width: 100%;
        color: #fff;
        text-align: left;
        font-size: 20px;
    }
    .social-media a {
        text-decoration: none;
    }
    .social-media i {
        height: 25px;
        width: 25px;
        margin: 20px 10px;
        padding: 4px;
        color: #fff;
        transition: 0.5s;
        margin-left: 0;
    }
    .social-media i:hover {
        transform: scale(1.5);
    }
    .mini-w {
        width: 17%;
    }
    .footer-bottom {
        padding: 30px 0px;
        /* background: #00121b; */
        color: rgb(255 255 255 / 60%);
        font-size: 16px;
        font-weight: 300;
        border-top: 1px solid #3e3e3e;
        text-align: center;
        letter-spacing: 1px;
    }
    /* for tablet mode view */
    /* Counter */
    #counter-section-container {
        width: 100%;
        padding: 10%;
        background: transparent linear-gradient( 106deg, #005EAF 0%, #0F1F5F 100%) 0% 0% no-repeat padding-box;
        margin-bottom: 7%;
    }
    #counter-box-container {
        /*border: 1px solid #999999;*/
        overflow: hidden;
        display: flex;
        margin-top: 30px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #counter-box {
        /*width: 33.22%;*/
        width: 100%;
        height: 100%;
        padding: 20px 50px;
        margin-bottom: 10%;
        border-left: 1px solid #fff;
        /*background-color: #111111;*/
        color: #ffffff;
        /*border: 1px solid #666666;*/
    }
    #counter-box>p {
        color: #fff;
        font-size: 17px;
        margin: 0;
        letter-spacing: 1px;
        text-align: left;
    }
    .counter {
        font-size: 60px;
        padding: 0;
        font-weight: bold;
    }
}

@media screen and (max-width: 1275px) {
    .footer-items {
        width: 50%;
    }
}


/* for mobile screen view */

@media screen and (max-width: 660px) {
    .footer-items {
        width: 100%;
    }
}