@media only screen and (max-width: 1280px) {
    .fnc-slide__content {
        top: 32%;
    }
    .navbar ul li {
        height: 100%;
        padding: 0px 15px;
        position: relative;
        margin-left: 10px;
    }
    .nav-item>a {
        font-size: 14px;
    }
    .fnc-slide__heading-line {
        font-size: 51px;
    }
    .fnc-slide__heading-line .smal {
        text-align: left;
        font: normal normal 500 23px/0px Montserrat;
        letter-spacing: 1.8px;
        color: #FFFFFF;
        text-shadow: 5px 5px 5px #00000052;
        text-transform: uppercase;
    }
    .red-div {
        height: 25.3vh;
    }
    .hero-banner h4 {
        font: normal normal bold 64px/86px Montserrat;
        letter-spacing: 3.2px;
        color: #FFFFFF;
        text-shadow: 10px 10px 12px #00000029;
        text-transform: capitalize;
        margin-left: 8%;
    }
    .enroll>a {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 5px 5px 10px #00000029;
        padding: 15px 15px;
        margin-left: 40px;
        font-size: 14px;
        color: #1a1a1a;
        letter-spacing: 1px;
        font-weight: 500;
        border-radius: 5px;
    }
    .h-title {
        font-family: Sarabun, sans-serif;
        font-weight: 300;
        letter-spacing: 0.01em;
        color: #1b1b1b;
        font-size: 23px;
        line-height: 1.5em;
        padding-right: 40%;
        margin: 18px 0;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    .icons {
        padding: 20px 20px;
        position: relative;
    }
    /*  */
    .flex-div {
        flex-wrap: nowrap;
    }
    .red-con>h6 {
        padding-right: 11%;
    }
    .blue-con>h6 {
        font: normal normal bold 20px/29px Sarabun;
        letter-spacing: 1.2px;
        color: #fff;
    }
    .blue-con>h4 {
        font: normal normal bold 29px/58px Sarabun;
        letter-spacing: 1.8px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .blue-div {
        width: 60%;
        background: #005EAF;
        padding: 2.6% 3%;
    }
    .blog-conent>p {
        font: normal normal normal 14px/26px Sarabun;
    }
}